<form method = 'post' action='/calculator'>
  <input name = 'x'>
  <select name = 'operation'>
    <option>+</option>
    <option>-</option>
    <option>*</option>
    <option>/</option>

  </select>
  <input name = 'y'>
  <br>
  <input type = 'submit' value = 'Calculate!!!!!!!!!!!!'></input>

</form>
