<h1 style = "font-family:'Comic Sans MS'">
<%= @a.name %>
is a
<%= @a.kind %>
that likes to eat
<%= @a.fave_snack %>
</h1>
<select>
  <option value="steak">Krill</option>
  <option value="krill">Steak</option>
  <option value="peach">Tuna</option>
  <option value="apple">Lettuce </option>
</select>
<button>Submit</button>
